<svg width="10px" height="3px" aria-hidden="true" focusable="false" role="presentation" class="icon icon-dash" viewBox="0 0 10 3">
    <!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
    <title>_</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="18" font-family="Hind-Medium, Hind" font-weight="400">
        <g id="S-+-A-HP-Copy-5" transform="translate(-1372.000000, -558.000000)" fill="#000000">
            <text id="_">
                <tspan x="1372" y="558">_</tspan>
            </text>
        </g>
    </g>
</svg>